page-home {

    #weightCard{
        background: linear-gradient(to bottom right, #84caca, #a6dbd1);
        border-color:none;
    
     }

     
    
     .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    
    }

}

ion-icon {
    font-size: 30px;
    font-weight: bold;
}
