page-home {

    #weightCard{
        background: linear-gradient(to bottom right, #84caca, #a6dbd1);
        border-color:none;
    
     }

     ion-icon {
        font-size: 20px; //Preferred size here
    }
    
     .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    
    }

}
