page-home {

    

     ion-card { 
        
        border-top: 5px solid #84caca;
    }

    #contentstyle{
        background-color: #f8f8f8;
    }

    

}


ion-icon {
    font-size: 30px;
    font-weight: bold;
}
