<ion-header class="page-home" no-border>
  <ion-navbar hideBackButton="true" color="mintgreen">
    <ion-title>
      Weight Tracker
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="openAddPage()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="contentstyle">
  
  <div class="row">
    <chart style="width:100%;">chart placeholder</chart>
  </div>
  <div *ngIf="noEntry()">
    <ion-row>
      <ion-col style="text-align:center">
      <button ion-button (click)="openAddPage()" color="mintgreen" large icon-left>
          <ion-icon name="add"></ion-icon> Add Weight
      </button>
    </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!noEntry()">
  <ion-card>
    <ion-row no-padding>
      <ion-col text-left>
        <ion-item >
          <h1 ion-text item-left color="mintgreen">Current</h1>
        </ion-item>
      </ion-col>
      <ion-col text-right>
        <ion-item>
              <h1 item-right color="light">{{ latestEntry?.weight }} kg</h1>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col>
        <ion-item>
              <p item-left color="light">Average: {{averageWeight}} kg</p>
        </ion-item>
      </ion-col>
      <ion-col text-right>
        <ion-item>
              <p item-right color="light">{{ latestEntry?.date|timestamp }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
</div>

  <ion-list inset>
  <button ion-item (click)="openEntriesPage()">
    <ion-icon name="create-outline" item-left color="grey"></ion-icon>
    Entries
  </button> 
  <button ion-item (click)="openRangePage()">
    <ion-icon name="timer-outline" item-left color="grey"></ion-icon>
    Range
     <ion-note item-right>
      {{currentRange}}
      </ion-note>
  </button>
  <button ion-item (click)="openGoalPage()">
    <ion-icon name="locate-outline" item-left color="grey"></ion-icon>
    Goal
    <ion-note item-right>
        <div *ngIf="noSavedGoal()">Set goal</div>
        <div *ngIf="!noSavedGoal()">
        {{ currentGoal.targetWeight }} kg
        </div>
      </ion-note>
  </button> 
 
</ion-list>
</ion-content>
