<ion-header class="page-home" no-border>
  <ion-navbar hideBackButton="true">
      <div *ngIf="!noEntry()">
    <ion-title >
        Weight Tracker
    </ion-title>  
      </div>
  </ion-navbar>
</ion-header>

<ion-content id="contentstyle">
  <div *ngIf="noEntry()">
    <div class="card-background-page">
    <ion-card>
        <img src="assets/img/girl.png"/>
        <div class="card-title">Weight Tracker</div>
        <div class="card-subtitle">powered by pline</div>
    </ion-card>
  </div>
  </div>
  <div *ngIf="!noEntry()">
      <ion-card>          
          <ion-row>
              <chart style="width:100%;">chart placeholder</chart>
            </ion-row>
           
        <ion-item>
          <ion-icon name="timer-outline" item-start large color="grey"></ion-icon>
          <h2>Current Weight:</h2>
          <h2 item-right ion-text style="font-size: 20px" color="hotred">{{ latestEntry?.weight }} kg</h2>
          <p>1 day ago</p>
        </ion-item>
      
        <ion-item>
          <ion-icon name="locate-outline" item-left large color="grey"></ion-icon>
          <h2>Still To Go:</h2>
          <h2 item-right ion-text style="font-size: 20px" color="hotred">6 kg</h2>
          <p>20 days left</p>
        </ion-item>

     
     <!-- <ion-row>
          <ion-col>
              <ion-item>
                  <p item-left color="light">Average: {{averageWeight}} kg</p>
            </ion-item>
          </ion-col>
          <ion-col>
              <ion-item>
                  <p item-left color="light">Lowest: {{averageWeight}} kg</p>
            </ion-item>
          </ion-col>
          <ion-col center text-center>
              <ion-item>
                  <p item-left color="light">Highest: {{averageWeight}} kg</p>
            </ion-item>
          </ion-col>
      </ion-row>-->
    
  </ion-card>
</div>

  <ion-list inset>
  <button ion-item (click)="openEntriesPage()" color="bggrey">
    Entries
  </button> 
  <button ion-item (click)="openRangePage()" color="bggrey">
    Range
     <ion-note item-right>
      {{currentRange}}
      </ion-note>
  </button>
  <button ion-item (click)="openGoalPage()" color="bggrey">
    Goal
    <ion-note item-right>
        <div *ngIf="noSavedGoal()">Set goal</div>
        <div *ngIf="!noSavedGoal()">
        {{ currentGoal.targetWeight }} kg
        </div>
      </ion-note>
  </button> 
 
</ion-list>
<div text-center>
<button ion-button color="hotred" outline (click)="openAddPage()" icon-start>
    <ion-icon name="add"></ion-icon>
    Add Weight
</button>
</div>
</ion-content>




