<ion-header class="page-charts">
  <ion-navbar hideBackButton="true">
    <ion-title>
      Weight
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only type="submit" (click)="openAddPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <div padding>
     <ion-segment [(ngModel)]="range">
      <ion-segment-button value="week" (click)="setRange('week')">
        Week
      </ion-segment-button>
      <ion-segment-button value="month" (click)="setRange('month')">
        Month
      </ion-segment-button>
      <ion-segment-button value="year" (click)="setRange('year')">
        Year
      </ion-segment-button>
    </ion-segment>
    </div>
</ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;">
        <canvas baseChart width="200" height="200" [datasets]="getData()" [labels]="lineChartLabels" [options]="getLineChartOptions()"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          ></canvas>
      </div>
    </div>
    <!--<div class="col-md-6" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>-->
  </div>

  <ion-list inset>
  <button ion-item (click)="openDataPage()">
    Show All Data
  </button> 
  <button ion-item (click)="openTargetPage()">
    Set Target
  </button> 
</ion-list>
</ion-content>