<ion-header class="page-charts">
  <ion-navbar >
    <ion-title>
      <h3>Charts</h3>
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
       <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"  [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number"  [(ngModel)]="weight"></ion-input>
    </ion-item>
    </ion-fab-list>
  </ion-fab>
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;">
        <canvas baseChart width="400" height="400" [datasets]="getData()" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          ></canvas>
      </div>
    </div>
    <!--<div class="col-md-6" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>-->
  </div>
</ion-content>