<ion-header class="page-charts">
  <ion-navbar hideBackButton="true">
    <ion-title>
      Weight
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only type="submit" (click)="openAddPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;margin:50px;">
        <canvas 
            baseChart width="400" height="200" 
            [datasets]="getData()" 
            [labels]="lineChartLabels" 
            [options]="getLineChartOptions()"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType">
        </canvas>
      </div>
    </div>
    <!--<div class="col-md-6" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>-->
  </div>





  <ion-card id="weightCard">
    <ion-row no-padding>
      <ion-col text-left>
        <ion-item class="item item-trns">
          <h1 item-left color="light">Weight</h1>
        </ion-item>
      </ion-col>
      <ion-col text-right>
        <ion-item class="item item-trns">
          <h1 item-right color="light">65 kg</h1>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col>
        <ion-item class="item item-trns">
          <p item-left color="light">Average: 68 kg</p>
        </ion-item>
      </ion-col>
      <ion-col text-right>
        <ion-item class="item item-trns">
          <p item-right color="light">12.05.17, 11:00</p>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-card>

  <ion-list inset>
  <button ion-item (click)="openDataPage()">
    <ion-icon name="create-outline" item-left color="grey"></ion-icon>
    Entries
  </button> 
  <button ion-item (click)="openRangePage()">
    <ion-icon name="timer-outline" item-left color="grey"></ion-icon>
    Range
     <ion-note item-right>
        {{currentRange}}
      </ion-note>
  </button>
  <button ion-item (click)="openTargetPage()">
    <ion-icon name="locate-outline" item-left color="grey"></ion-icon>
    Goal
  </button> 
 
</ion-list>
</ion-content>