<ion-header>

  <ion-navbar>
    <ion-title>
      Entries
    </ion-title>
    <ion-buttons end>
      <button ion-button type="submit" (click)="editEntries()">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="noSavedData()">There is no saved data.</div>
  <div *ngIf="!noSavedData()">
    <ion-list>
      <ion-item-sliding *ngFor="let reading of readings">
        <ion-item>
          {{ reading?.weight }} kg
          <ion-note item-right>
            {{ reading?.date|timestampPipe }}
          </ion-note>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="removeItem(reading)"><ion-icon name="trash"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>