
<ion-header>

  <ion-navbar>
    <ion-title>Entries</ion-title>
    <ion-buttons end>
        <button ion-button type="submit" (click)="deleteAllEntries()">
          Delete
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>
    
    
<ion-content padding>
      <div *ngIf="noSavedEntries()">There are no entries yet.</div>
      <div *ngIf="!noSavedEntries()">
        <ion-list>
          <ion-item-sliding *ngFor="let entry of entries">
            <ion-item>
              {{ entry?.weight }} kg
              <ion-note item-right>
               {{ entry?.date|timestamp }}
              </ion-note>
            </ion-item>
            <ion-item-options>
              <button ion-button color="danger" (click)="removeItem(entry)"><ion-icon name="trash"></ion-icon></button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
  </ion-content>
